* {
  margin: 0;
  padding: 0;
}
/* CSS untuk header */
header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 10px;
  font-size: 18px;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: "Slabo 27px", serif;
  padding-top: 40px;
}

h3 {
  padding-bottom: 20px;
}

body {
  background-image: url("../img/pattern.jpg");
}

section {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 300px;
  margin-left: 300px;
}
article {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

article p {
  padding-bottom: 15px;
  border-bottom: 4px solid;
}

/* CSS untuk footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}
